:root{
    --color: #e6007e;
    --txt: rgb(185, 185, 185)
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: var(--txt);
}

.flexContainer {
    height: 100vh;
    width: 100vw;  
     display: flex;
    flex-flow: row wrap;
}

/* Left */

.leftPanel {
    display: flex;
    flex-direction: column;
    justify-content:center;
    padding-bottom: 60vh;
    background-image: url(images/earth.png);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 40vw;
}


.logoImage{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: #262e4f 0px 2px 9px;
}

h1{
    color: white;
}

.questline {
    height: 20vh;
}

/* Right */

.rightPanel {
    width: 60vw;
    background-color: #090b12;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.text {
    font-weight: 500;
    width: 90%;
    font-size: 1.2rem;
}

.remoteText {
    margin: 40px 0 80px;
}

h2 {
    width: 100%;
    font-size: 2.0rem;
    font-weight: 700;
    padding: 0px 0px 5px 0px;

}

.formContainer {
    background-color: rgb(8, 6, 16);
    box-shadow: 0 10px 20px -2px rgb(22, 22, 22);
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.textField {
    display: flex;
    flex-flow: column wrap;
    width: 40%;
    font-size: 1.0rem;
    text-transform: uppercase;
}

input {
    background-color: rgb(2, 2, 2);
    border: 1px solid rgb(77, 77, 77);
    border-radius: 3px;
}

button {
    background-color: rgba(0, 0, 0, 0);
    color: aqua;
    font-weight: 700;
    font-size: 1.2em;
    border: 2px solid aqua;
    border-radius: 5px;
    padding: 10px 40px;
    margin: 40px 0px 0px 0px;
}

.logIn {
    margin-top: 100px;
}

a {
    color: rgb(254, 254, 254);
}